* {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  z-index: 100;
  button.btn-info {
    background-color: #34B9DE;
    border-color: #34B9DE;
    color: #fff;
  }
  button.btn-info:hover {
    background-color: #fff;
    color: #34B9DE;
  }
  button.btn-outline-info {
    background-color: #fff;
    border-color: #34B9DE;
    color: #34B9DE;
  }
  button.btn-outline-info:hover {
    background-color: #34B9DE;
    color: #fff;
  }
  a {
    color: #586873;
  }
  input::placeholder {
    font-size: 12px;
    color: lightgray;
  }
  .nav-item {
    color: #586873;
    a {
      color: #586873;
    }
  }
}

/* Banner Carousel */
.banner-carousel {
  @media (min-width: 960px) {
    img {
      height: 400px;
      object-fit: cover;
    }
  }
  @media (max-width: 756px) {
    button {
      width: 16px;
      height: 16px;
      i {
        font-size: 10px;
      }
    }
  }
}

/* Card Prakerja */
.prakerja {
  .card {
    .card-content {
      @media (max-width: 576px) {
        p {
          font-size: 12px;
        }
      }
      p {
        color: grey;
        font-size: 12px;
      }
      button {
        font-size: 10px;
      }
    }
  }
}

/* Kategori Kelas */
.kategori-kelas {
  h5 {
    color: #586873;
  }
  .subtitle{
    font-size: 12px;
  }
  button {
    font-size: 10px;
  }
}

/* Program Unggulan */
.program-unggulan {
  h5 {
    color: #586873;
  }
  h6 {
    color: #586873;
    font-size: 14px;
  }
  p {
    color: #586873;
    font-size: 12px;
  }
  .btn {
    font-size: 14px;
  }
}

/* Testimoni */
.testimoni {
  h5 {
    color: #586873;
  }
  img {
    border-radius: 90px;
  }
}

/* Partner */
.partner {
  h5{
    color: #586873;
  }
}

/* Footer */
.footer {
  padding-top: 70px;
  background-color: #415360;
  padding-bottom: 10px;
  font-weight: lighter;
  font-size: 14px;

  h4 {
      font-size: 18px;
  }

  p {
      color: #fff;
      font-size: 12px;
  }

  .social-media {
      a {
          padding: 10px;
          border: 1px solid #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          text-decoration: none;
          color: #fff;
          &:hover {
              color: #415360;
              background-color: #fff;
              border: 1px solid #fff;
              transition: 0.3s;
          }
      }
  }
  .link a {
      font-size: 12px;
      text-decoration: none;
      color: #fff;
      margin-bottom: 8px;
  }
}

/* Login */
.login {
  .card {
      h6{
          color: #586873;
          font-size: 18px;
      }
      label {
          color: grey;
          font-size: 12px;
      }
      input::placeholder {
          color: rgba(88, 104, 115, 0.5);;
          font-size: 13px;
      }
      .check-box{
          a {
              font-size: 12px;
          }
      }
      p{
          font-size: 12px;
      }
  }
}

/* Register */
.register {
  .card {
    h6{
        color: #586873;
        font-size: 18px;
    }
    label {
        color: grey;
        font-size: 12px;
    }
    input::placeholder {
        color: rgba(88, 104, 115, 0.5);;
        font-size: 13px;
    }
    p {
      font-size: 12px;
    }
  }
}

/* Voucher */
.voucher{
  .card {
    .card-body{
      h6 {
        color: #586873;
      }
      label {
        color: #586873;
      }
      input::placeholder {
        color: #586873;
        font-size: 12px;
      }
    }
  }
}

/* Pencarian */
.pencarian {
  h4 {
    color: #586873;
  }
  h5 {
    color: #586873;
  }
  h6 {
    color: #586873;
    font-size: 14px;
  }
  p {
    color: #848c92;
    font-size: 12px;
  }
}

/* Detail */
.banner-detail {
  background-image: url("../images/banner-detail.svg");
  background-size: cover;

  .content {
      min-height: 350px;
      h1 {
        font-size: 4rem;
      }
      @media (max-width: 576px) {
        h1 {
          font-size: 42px;
        }
      }
  }
  .content > div {
      margin-bottom: 70px;
  }
  p {
      color: #ececec;
  }
}

.description {
  padding: 40px 60px 20px 60px;
  border-radius: 10px;
  transform: translate(0, -50%);
}

.pembelajaran {
  a {
      text-decoration: none;
      color: black;
      font-weight: 500;
  }
  .more {
      color: red;

      i {
          margin-left: 4px;
      }
  }
  .sticky {
    position: sticky;
    top: 100px;
    width: 100%;
  }
}

#rating {
  padding-bottom: 90px;

  .ulasan {
      span {
          font-size: 12px;
      }
  }
  .ulasan-bintang {
      .detail-rating {
        position: relative;
        min-width: 280px;
        height: 12px;
        background: lightgray;
        border-radius: 5px;
        overflow: hidden
      }

      .detail-rating div {
        position: absolute;
        height: 100%;
        background-color: #fcd010;
      }
  }
  .komentar-user {
      .profile-user {
          width: 50px;
          height: 50px;
      }
      h5 {
          font-size: 21px;
          margin-bottom: 10px;
      }
  }
}

.detail-produk {
  border-radius: 15px;
  padding: 12px;

  img {
      border-radius: 12px;
  }
  .price {
      del {
          color: #909090;
          font-size: 14px;
      }
  }
  .peserta {
      font-size: 12px;
      i {
          color: #f93846;
      }
  }
  .program-belajar {
      p {
          color: #828282;
      }
      i {
          width: 30px;
      }
  }
  .bahasa-pengantar {
      p {
          color: #828282;
          margin-bottom: 0;
      }
  }
}

/* Payment */
.payment {
    p {
      color: #586873;
      font-size: 14px;
    }
    span {
      font-size: 10px;
    }
}